.Izq {
  width: 22vw;
  padding: 1.5vw;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 10px black;
  height: 93.5vh;
}

.Izq h1 {
  font-size: 4rem;
}

.Izq img {
  width: 15.5vw;
}

.Izq h3 {
  margin-top: -55px;
}

.Izq p {
  margin-top: -2px;
  margin-bottom: 60px;
  text-align: justify;
  width: 100%;
}

.lengua {
  display: flex;
  justify-content: space-evenly;
}

.lengua div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lengua img {
  width: 4vw;
  border-radius: 50%;
}

.lengua img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px red;
}
